<div class="senderismo-ppal">
<h1>Senderismo y Montaña CUF Las Rozas</h1>

<h2>¡Bienvenido!</h2>

<p>En la sección de Senderismo y Montaña podrás disfrutar de excursiones por zonas de gran belleza de nuestro entorno,
    a través de diferentes recorridos localizados para cada actividad y adaptados a diferentes edades y niveles (no es
    necesario preparación física especial).</p>

<p>Desde la base de las excursiones aprovecharemos para fomentar los valores del deporte, el compañerismo, la vida sana
    y
    el respeto al medio, mientras disfrutamos de un buen ambiente con familiares y amigos</p>

<!-- <hr> -->

<h2>Hazte Socio</h2>

<p>Para participar en las actividades de Senderismo y Montaña CUF Las Rozas no es necesario ser socio del Club pero si
    te haces miembro podrás disfrutar del las múltiples ventajas de ser socio, como precios especiales y actividades
    exclusivas para los miembros del Club.</p>

<p>Puedes ver toda la información en el siguiente enlace <a routerLink="./socio"><strong>ver Hazte Socio</strong></a>
</p>

<!-- <hr> -->
<h2>Proximas actividades</h2>

<div class="actividad">    
    <h3>Cresterío de Siete Picos</h3>
    <h5>Domingo 20 de febrero. Sierra de Guadarrama (Dif. Alta-Solo Socios)</h5>
    <p>Lorem ipsum dolor sit amet consectetur adipiscing elit, habitasse cursus turpis feugiat lectus augue hac, nulla
        potenti tincidunt litora pretium penatibus. Sociosqu nec senectus rutrum nostra id aliquet, inceptos eleifend
        malesuada fringilla risus etiam enim, fusce ad ridiculus cum libero.</p>
</div>

<div class="actividad">
    <h3>Cascadas del Purgatorio</h3>
    <h5>Domingo 27 de febrero. Sierra de Guadarrama (Dif. Baja-Socios y no Socios)</h5>
    <p>Lorem ipsum dolor sit amet consectetur adipiscing elit, habitasse cursus turpis feugiat lectus augue hac, nulla
        potenti tincidunt litora pretium penatibus. Sociosqu nec senectus rutrum nostra id aliquet, inceptos eleifend
        malesuada fringilla risus etiam enim, fusce ad ridiculus cum libero.</p>
</div>


<div class="actividad">
    <h3>Circular a la Pedriza</h3>
    <h5>Domingo 04 de Marzo. Sierra de Guadarrama (Dif. Alta-Socios y no Socios)</h5>
    <p>Lorem ipsum dolor sit amet consectetur adipiscing elit, habitasse cursus turpis feugiat lectus augue hac, nulla
        potenti tincidunt litora pretium penatibus. Sociosqu nec senectus rutrum nostra id aliquet, inceptos eleifend
        malesuada fringilla risus etiam enim, fusce ad ridiculus cum libero.</p>
</div>

</div>