<div class="senderismo-ppal">
<h1>Senderismo y Montaña CUF Las Rozas</h1>

<h2>¡Bienvenido!</h2>

<p>En la sección de Senderismo y Montaña CUF Las Rozas te invitamos a descubrir rutas de gran belleza en nuestro entorno. 
    Diseñamos excursiones pensadas para disfrutar en familia, con amigos y adaptadas a diferentes edades y condiciones físicas. 
    ¡Hay una ruta ideal para ti!</p>

<p>Más que caminar, nuestro objetivo es compartir. En cada salida fomentamos el compañerismo, la vida sana y el respeto absoluto 
    por el medio ambiente, siempre en un ambiente cercano y divertido.</p>

<!-- <hr> -->

<h2>¿Quieres sumarte al Club? ¡Hazte Socio! </h2>

<p>Cualquiera puede participar en nuestras excursiones, pero si te haces miembro del Club disfrutarás de grandes ventajas:<br><br>
    - Descuentos exclusivos en los precios de todas las salidas y excursiones.<br>
    - Prioridad de reserva en rutas con plazas limitadas.<br>
    - Actividades y escapadas exclusivas solo para socios durante el año.<br>
    - Acceso a ventajas y descuentos con Nexos.</p>

<p>Puedes ver toda la información en el siguiente enlace <a routerLink="./socio"><strong>ver Hazte Socio</strong></a>
</p>

<!-- <hr> -->
<h2>Proximas actividades</h2>

@if (true) {
    <div class="actividad">  
        <img src="assets/image/senderismo/cascada-purgatorio.jpg" alt="Cascada del Purgatorio" class="actividad-img"> 
    <h5>📅 Domingo 20 de febrero. Sierra de Guadarrama (Dif. Alta-Solo Socios)</h5>
    <h3>Cascada del Purgatorio</h3>
    <p>Lorem ipsum dolor sit amet consectetur adipiscing elit, habitasse cursus turpis feugiat lectus augue hac, nulla
        potenti tincidunt litora pretium penatibus. Sociosqu nec senectus rutrum nostra id aliquet, inceptos eleifend
        malesuada fringilla risus etiam enim, fusce ad ridiculus cum libero.</p>
    <hr>
    inscribirme->

</div>

<div class="actividad">
        <img src="assets/image/senderismo/cascada-purgatorio.jpg" alt="Cresterío de Siete Picos" class="actividad-img"> 
    <h3>Cascadas del Purgatorio</h3>
    <h5>Domingo 27 de febrero. Sierra de Guadarrama (Dif. Baja-Socios y no Socios)</h5>
    <p>Lorem ipsum dolor sit amet consectetur adipiscing elit, habitasse cursus turpis feugiat lectus augue hac, nulla
        potenti tincidunt litora pretium penatibus. Sociosqu nec senectus rutrum nostra id aliquet, inceptos eleifend
        malesuada fringilla risus etiam enim, fusce ad ridiculus cum libero.</p>
</div>


<div class="actividad">
        <img src="assets/image/senderismo/cascada-purgatorio.jpg" alt="Cresterío de Siete Picos" class="actividad-img"> 
    <h3>Circular a la Pedriza</h3>
    <h5>Domingo 04 de Marzo. Sierra de Guadarrama (Dif. Alta-Socios y no Socios)</h5>
    <p>Lorem ipsum dolor sit amet consectetur adipiscing elit, habitasse cursus turpis feugiat lectus augue hac, nulla
        potenti tincidunt litora pretium penatibus. Sociosqu nec senectus rutrum nostra id aliquet, inceptos eleifend
        malesuada fringilla risus etiam enim, fusce ad ridiculus cum libero.</p>
</div>
}@else {
    <p>Estamos preparando nuestro calendario de próximas salidas para la temporada. ¡Muy pronto publicaremos las fechas y destinos!</p>
}
 

</div>