<div class="socio">

<a routerLink="/senderismo"><strong>Volver</strong></a> | <a routerLink="/">Inicio</a> > <a routerLink="/senderismo">Senderismo</a> > <a routerLink="/senderismo/socio"><strong>Socio</strong></a>

<h1>Socio Senderismo y Montaña</h1>

<h2>Ventajas de ser socio</h2>

<p>Durante el año deportivo, la sección de Senderismo y Montaña CUF Las Rozas organizará al menos una actividad de senderismo al mes.
    El precio de las salidas, como norma general, será entorno a los 10€ para socio y 15€ para no socio, por lo que, si participas
    con nosotros varias de nuestras actividades siendo socio, te estarás ahorrando dinero</p>

<p>Podrás participar en las actividades exclusivas que se organicen solo para socios</p>

<p>Recibirás boletines informativos sobre nuestras actividades e información interesante del mundo de la montaña.</p>

<p>Disfruta de una semana de entranamiento con uno de nuestros equipos de unihockey y prueba un deporte nuevo</p>


<h2>Hazte Socio</h2>

<p>Para hacerte socio de la sección de Senderismo y Montaña CUF Las Rozas sólo tienes que realizar el pago del la cuota
    de la temporada. Dicho pago dará derecho a disfrutar del precio de socio en cualquiera de las actividades así como
    otras ventajas.</p>

<p>Se considera temporada al periodo que transcurre desde septiembre hasta Junio del año siguiente, coincidiendo esta
    con la termporada deportiva de los esquipos de unihockey.</p>


<table class="simple-table style-top">
    <tbody>
        <tr>
            <td class="cell cabecera_tabla" style="width: 25%;">
                <div style="text-align:left;"><strong>Tipo de socio</strong></div>
            </td>
            <td class="cell cabecera_tabla" style="width: 13%;">
                <div><strong>Cuota anual</strong></div>
            </td>
            <td class="cell cabecera_tabla" style="width: 55%;">
                <div><strong>Observaciones</strong></div>
            </td>
        </tr>
        <tr>
            <td class="cell">
                <div class="paragraph" style="text-align:left;">Miembro de la sección unihokey</div>
            </td>
            <td class="cell">
                <div class="paragraph">Gratis</div>
            </td>
            <td class="cell">
                <div class="paragraph">Se considera miembro a jugadores, entrenadores o miembros de la junta directiva
                </div>
            </td>
        </tr>
        <tr>
            <td class="cell">
                <div class="paragraph" style="text-align:left;">Familiar de participante de la sección de unihockey
                </div>
            </td>
            <td class="cell">
                <div class="paragraph">20 €</div>
            </td>
            <td class="cell">
                <div class="paragraph">Se considera familiar a padres, hermanos o hijos de los participantes de la
                    sección de unihockey</div>
            </td>
        </tr>
        <tr>
            <td class="cell">
                <div class="paragraph" style="text-align:left;">Otros</div>
            </td>
            <td class="cell">
                <div class="paragraph">40 €</div>
            </td>
            <td class="cell">
                <div class="paragraph">Si no eres participante de la sección de unihockey o familiar, estamos encantados
                    de que te unas a la familia del CUF Las Rozas</div>
            </td>
        </tr>
    </tbody>
</table>

    

</div>