.footer-general {
    padding: 5px;
    color: white;
}

a {
    color: white;
}

a:hover {
    color: #F75A0B;
}
.centrar {
    text-align: center;
}

.patrocinadores-collection {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin-top: 20px
}

.img-patrocinador {
    height: 40px;
}

.pie {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center; 
        gap: 15px;
        margin-top: 10px
}

.pie p {
    font-size: 30px;
}

.logo_cuf {
    height: 60px;
}


@media (max-width: 768px) {
    .enlace {
        display: flex;
        justify-content: center;
    }
    .patrocinadores-collection {
        gap:15px;
    }

    .logo-patrocinador {
        width: 100%;
    }
}