@if (openModal) {
<div class="tienda_modal">
    <cuflr-modal [urlTienda]="urlTiendaSeleccionada" [producto]="productoSeleccionado" />
</div>
}

<div class="tienda-general">
    <div class="tienda-header-card">
        <h1>Tienda CUF Las Rozas</h1>
        <h2>Equipaciones de jugador</h2>
        <p>El pack de ropa oficial para jugadores consta de 2 camisetas de juego, pantalón, sudadera y 1 camiseta de
            entrenamiento en color amarillo.
            Para realizar tu solicitud, por favor completa el siguiente formulario:
            <a href="https://docs.google.com/forms/d/e/1FAIpQLSeFLBlcVT04VuGmPdEV4aWvkjoItcxL4EWflEkhdWNYwsgKBg/viewform"
                target="_blank" class="link-form">ver Formulario &rarr;</a>
        </p>

        <div class="nota-importante">
            <p><b>Nota importante:</b> El pack de ropa no incluye las medias negras, pero recuerda que son <b>obligatorias para los
                partidos oficiales</b>. Puedes adquirirlas por separado o por tu cuenta.</p>
        </div>
        <p>Además del pack completo, también puedes adquirir prendas sueltas.</p>
    </div>

    @if (this.objetoTienda?.activarRopa) {
    <div class="tienda-section-card">
        <h2>Ropa deportiva</h2>
        <p> A continuación, puedes revisar todo el material deportivo disponible en el club:</p>
        <div class="galeria-articulos">
            @if(objetoTienda){
            @for (producto of objetoTienda.listaRopa; track $index) {
            <div class="box">
                <div class="sub-box">
                    <img (click)="abrirImagen(objetoTienda.rutaTienda, producto)"
                        src={{objetoTienda.rutaTienda+producto.carpeta+producto.imagenPpal}} alt="{{producto.nombrePpal}}">
                </div>
                <span class="producto-nombre">{{producto.nombrePpal}}</span>
                <span class="producto-precio">{{producto.precio| number:'1.2-2'}}€</span>
                <div class="colores">
                    @for (color of producto.colores; track $index) {
                    <div class="color" [ngStyle]="{'background-color': color}"></div>
                    }
                </div>
            </div>
            }
            }
        </div>
    </div>
    }

    @if (this.objetoTienda?.activarOtrosObjetos) {
    <div class="tienda-section-card">
        <h2>Otros Artículos</h2>
        <p>A continuación puedes consultar los objetos y merchandising del Club, suministrados por
            <a href="https://monsterstamping.es/" target="_blank" class="link-proveedor">Monster Stamping</a> o el Club.
        </p>
        <p>
            Para poder comprar cualquiera de estos artículos debes ponerte en contacto directamente
            con el Club y te informaremos del proceso de compra. <a routerLink="/contacto" class="link-contacto">CONTACTAR &rarr;</a>
        </p>

        <div class="galeria-articulos">
            @if(objetoTienda){
            @for (producto of objetoTienda.listaObjetos; track $index) {
            <div class="box">
                <div class="sub-box">
                    <img (click)="abrirImagen(objetoTienda.rutaTienda, producto)"
                        src={{objetoTienda.rutaTienda+producto.carpeta+producto.imagenPpal}} alt="{{producto.nombrePpal}}">
                </div>
                <span class="producto-nombre">{{producto.nombrePpal}}</span>
                <span class="producto-precio">{{producto.precio| number:'1.2-2'}}€</span>
                <div class="colores">
                    @for (color of producto.colores; track $index) {
                    <div class="color" [ngStyle]="{'background-color': color}"></div>
                    }
                </div>
            </div>
            }
            }
        </div>
    </div>
    }
</div>