<div class="fotos-principal">
    <div class="cabecera_galeria">
        <div>

            <h1>Galería de fotos</h1>
        </div>
        <div class="div_temporadas">
            @if(controlGaleria){

            <select class="select_temp" name="temporadas" (change)="anioElegido($event)">
                @for (control of controlGaleria.temporadas; track $index) {
                    @if (control.value != "") {
                    <option class="option_temp" value="{{control.value}}">{{control.literal}}</option>
                    } @else {
                    <option value="option_temp" selected disabled hidden>{{control.literal}}</option>
                    }
                }
            </select>
            }
        </div>


    </div>

    <!-- @if (controlGaleria && controlGaleria.filtroActived) {
    <div class="filtro">
        <button class="filtro-btn active" data-categoria="todas">Todas</button>
        <button class="filtro-btn" data-categoria="entrenamientos">Entrenamientos</button>
        <button class="filtro-btn" data-categoria="partidos">Partidos</button>
        <button class="filtro-btn" data-categoria="eventos">Eventos</button>
        <select name="equipos">
            <option value="todos">todos</option>
            <option value="srmasc">Senior Masculino</option>
            <option value="srfem">Senior Femenino</option>
        </select>
    </div>
    } -->


    @if (controlGaleria && controlGaleria.mostrarAnyo) {
    <h2>Temporada: {{anioSelected}}</h2>
    <div class="galeria">
        @for (imagen of galeria; track $index) {
        <figure class="foto">
            @if (imagen.navigateTo && imagen.navigateTo != "") {
            <a href="{{imagen.navigateTo}}" target="_blank"><img src="{{imagen.url}}" alt="{{imagen.alt}}"></a>
            <figcaption class="pie-foto">{{imagen.pie}}</figcaption>
            } @else {
            <img src="{{imagen.url}}" alt="{{imagen.alt}}">
            <figcaption class="pie-foto">{{imagen.pie}}</figcaption>
            }
        </figure>
        }
    </div>
    }

</div>