<div class="FAQSenderismo">
    <div class="faq-header">
        <div class="faq-nav">
            <a routerLink="/senderismo"><strong>Volver</strong></a> | <a routerLink="/">Inicio</a> &gt; <a
                routerLink="/senderismo">Senderismo</a> &gt; <strong>FAQ</strong>
        </div>

        <h1>Preguntas Frecuentes</h1>

        <p>¿Tienes dudas sobre cómo prepararte para tu próxima aventura? Aquí encontrarás respuestas rápidas sobre
            equipamiento, seguridad, dificultad de las rutas y todo lo que necesitas saber antes de echarte la mochila al
            hombro. ¡Explora los bloques de abajo y despeja tus dudas!</p>
    </div>

    @if (listadoFAQ.length > 0) {
    @for (seccion of listadoFAQ; track $index) {
    <div class="faq-card-section">
        <h2>{{seccion.titulo}}</h2>

        <div class="faq-list">
            @for (pregunta of seccion.preguntas; track $index) {
            <details class="faq-accordion" name="faq-group">
                <summary>{{pregunta.pregunta}}</summary>
                <div class="faq-content">
                    <p>{{pregunta.respuesta}}</p>
                </div>
            </details>
            }
        </div>
    </div>
    }
    }
</div>