<div class="historia">
    <h1>Historia</h1>
    <p>El Club de Unihockey Floorball Las Rozas inicio su actividad en el año 2005 gracias a la colaboración
        entre el AMPA del colegio Santa María de Las Rozas y el club de Floorball Gladiator, en abril de
        2007 el CUF Las Rozas se registra en la Comunidad de Madrid como un nuevo club de Floorball.</p>
    <p>Los primeros pasos que se dieron tenían como objetivo formar a los alumnos del colegio en un
        nuevo deporte de carácter mixto y de juego en equipo. Participamos en numerosos torneos
        promocionales de distintos municipios de la Comunidad de Madrid como el torneo del colegio
        Luyfe de Rivas o el San Bernabé de El Escorial y se creó una escuela que aún no competía a nivel
        federado. En 2006, la escuela había pasado de 12 jugadores a 21 y su participación seguía
        limitándose a torneos promocionales y partidos amistosos. En 2007, habiéndose conformado el
        club, tal y como lo conocemos ahora, empezó a participar en competiciones oficiales de la AEUF
        con varios equipos en distintas categorías. El desarrollo del club ha permitido tener equipos en
        todas las categorías que contempla la AEUF, participando en todas sus competiciones oficiales y
        torneos promocionales.</p>
    <p>Hoy en día, nuestro club se ha convertido en un referente a nivel nacional de este deporte. La clave
        de este éxito está en nuestra apuesta por el deporte base y en el fomento del deporte femenino,
        estando en el Top de los 5 clubes más importantes de España en cuanto a número de jugadores y
        participación, así como de nivel de juego y de competición. En los últimos años siempre hemos
        tenido representantes en todas las selecciones nacionales, sub 19, femenina, nacional absoluta y
        universitaria (masculina y femenina).</p>


    @if (this.infoClub && this.infoClub.secciones && this.infoClub.secciones.length) {

    @for (seccion of this.infoClub.secciones; track $index) {
    <h1>{{seccion.title}}</h1>
    <div class="contenedor-junta">
        @for (miembro of seccion.listadoMiembros; track $index) {
        <div class="miembro">
            <img class="img-junta" src="{{miembro.urlfoto}}" alt="">
            <h3>{{miembro.nombre}}</h3>
            <h4>{{miembro.cargo}}</h4>
        </div>
        }
    </div>
    }
    }
</div>