@if (this.infoBarraLateral) {
<div class="barra-lateral">
    <div class="seccion">
        <h3>{{this.infoBarraLateral.proximosPartidos.title}}</h3>
        @if(this.infoBarraLateral.proximosPartidos && this.infoBarraLateral.proximosPartidos.view &&
        this.infoBarraLateral.proximosPartidos.objects.length > 0){
        <ul>
            @for (proximoPartido of this.infoBarraLateral.proximosPartidos.objects; track $index) {
            <li>
                @if (proximoPartido.url && proximoPartido.url != "") {
                    <a href="{{proximoPartido.url}}" target="_blank">
                    <b>{{proximoPartido.titulo}}:</b><br>
                    {{proximoPartido.fecha}}
                </a>
                }                
                @else {
                    <b>{{proximoPartido.titulo}}:</b><br>
                    {{proximoPartido.fecha}}
                }
            </li>
            }
        </ul>

        } @else {
        <p>Próximamente.📅</p>
        }
    </div>


    @if(this.infoBarraLateral.documentos && this.infoBarraLateral.documentos.view &&
    this.infoBarraLateral.documentos.objects.length > 0){
    <div class="seccion">
        <h3>{{this.infoBarraLateral.documentos.title}}</h3>
        <ul>
            @for (documento of this.infoBarraLateral.documentos.objects; track $index) {
            <li>
                <a href="{{documento.url}}" target="_blank">
                   <b>{{documento.literal}}</b>
                </a>
            </li>
            }
        </ul>
    </div>
    }


    @if(this.infoBarraLateral.redes && this.infoBarraLateral.redes.view && this.infoBarraLateral.redes.objects.length >
    0){
    <div class="seccion">
        <h3>{{this.infoBarraLateral.redes.title}}</h3>

        <div class="logos-redes">
            @for (red of this.infoBarraLateral.redes.objects; track $index) {
            <div class="logo-red">
                <a href="{{red.url}}" target="_blank">
                    <img class="img-logo" alt={{red.alt}} src={{red.imagen}}>
                </a>
            </div>
            }
        </div>
    </div>
    }

</div>
}