<div class="titulo_inicial">
    <h1>Bienvenido a la web del Club Unihockey Floorball de Las Rozas</h1>
</div>

<div class="preinscripcion">
    <h2>¡Ya estamos preparando la temporada 26/27 y queremos contar contigo!</h2>

    <p>No te quedes fuera y reserva tu plaza hoy mismo.</p>
    <p> Para formalizar la inscripción de los equipos en la liga y ayudar al club en la planificación de los grupos,
        es necesario realizar la preinscripción antes del <b>19 de junio</b> mediante el
        pago de <b>20€</b>, que te descontaremos directamente de la cuota total de la próxima temporada al formalizar la
        matrícula.
    </p>

    <p>Para formalizar la preinscripción debes enviarnos la <a class="underline" href="/assets/documentos/ficha_preincripcion.pdf"><b>Ficha de
                preinscripción</b></a> rellena así como el pago a nuestro correo: <b>{{datos_club.email}}</b></p>
</div>



<div class="imagen_central">
    <img class="logo_principal" alt="Logo CUF Las Rozas principal" ngSrc="assets/image/Logo_CUF_Las_Rozas.webp"
        width="800" height="800" priority>
</div>