<div class="titulo_inicial">
    <h1>Bienvenido a la web del Club Unihockey Floorball de Las Rozas</h1>
</div>

<div class="preinscripcion">
    <h2>¡Ya están abiertas las inscripciones para la temporada 26/27!</h2>

    <p>¡Ya estamos en marcha y queremos contar contigo para esta nueva temporada! Anímate a formar parte del equipo y
        únete a nosotros.</p>
    <p> Para formalizar tu inscripción y ayudarnos a configurar los equipos, el proceso es muy sencillo:
    </p>
    <ol>
        <li>Rellena la <a href="/inscripcion" target="_self"><b>Ficha de inscripción.</b></a></li>
        <li>Realiza el pago del seguro y las tasas correspondientes según indica tu ficha</li>
        <li>Envíanos el justificante y la ficha por correo electrónico a <b>{{datos_club.email}}</b></li>
    </ol>
    <p>¡Te animamos a hacerlo cuanto antes! Realizar el trámite pronto nos ayuda muchísimo a organizar los
        equipos y la planificación de la temporada con antelación.</p>
</div>



<div class="imagen_central">
    <img class="logo_principal" alt="Logo CUF Las Rozas principal" ngSrc="assets/image/Logo_CUF_Las_Rozas.webp"
        width="800" height="800" priority>
</div>