<div class="inscripcion">
    <h1>Inscripción temporada {{precios_temporada.temporada}}</h1>

    <p>¡Bienvenido al Club! Necesitamos que nos rellenes los siguientes datos para poder inscribirte como miembro.</p>

    <form [formGroup]="inscripcion" (ngSubmit)="onSubmit()">
        <h3>Datos del jugador</h3>
        <p> En el caso de los menores de edad, los campos teléfono y email serán los del menor y no serán obligatorios.
        </p>
        <div class="row">
            <div class="contenedor_datos">
                <label for="nombrePpal">Nombre:</label>
                <input type="text" name="nombrePpal" id="nombrePpal" formControlName="nombrePpal">
                @if((inscripcion.controls['nombrePpal'].touched || submitted) &&
                inscripcion.controls['nombrePpal'].hasError('required')) {
                <p class="error">El nombre es obligatorio</p>
                }
            </div>
            <div class="contenedor_datos">
                <label for="apellidosPpal">Apellidos:</label>
                <input type="text" name="apellidosPpal" id="apellidosPpal" formControlName="apellidosPpal">
                @if((inscripcion.controls['apellidosPpal'].touched || submitted) &&
                inscripcion.controls['apellidosPpal'].hasError('required')) {
                <p class="error">Los apellidos son obligatorios</p>
                }
            </div>
            <div class="contenedor_datos">
                <label for="emailppal">Email:</label>
                <input type="text" name="emailppal" id="emailppal" formControlName="emailppal">
                @if((inscripcion.controls['emailppal'].touched || submitted) &&
                inscripcion.controls['emailppal'].hasError('required')) {
                <p class="error">El email es obligatorio</p>
                }
                @if((inscripcion.controls['emailppal'].touched || submitted) &&
                inscripcion.controls['emailppal'].hasError('email')) {
                <p class="error">El formato del email no es válido</p>
                }
            </div>
        </div>
        <div class="row">
            <div class="contenedor_datos">
                <label for="telefonoPpal">Telefono:</label>
                <input type="text" name="telefonoPpal" id="telefonoPpal" formControlName="telefonoPpal" maxlength="9">
                @if((inscripcion.controls['telefonoPpal'].touched || submitted) &&
                inscripcion.controls['telefonoPpal'].hasError('required')) {
                <p class="error">El teléfono es obligatorio</p>
                }
                @if((inscripcion.controls['telefonoPpal'].touched || submitted) &&
                inscripcion.controls['telefonoPpal'].hasError('pattern')) {
                <p class="error">Introduce un teléfono válido (9 dígitos, empezando por 6, 7, 8 o 9)</p>
                }
            </div>
            <div class="contenedor_datos">
                <label for="nacimiento">Fecha de Nacimiento:</label>
                <input type="date" name="nacimiento" id="nacimiento" formControlName="nacimiento" min="1950-01-01"
                    max="{{hoy}}">
                @if((inscripcion.controls['nacimiento'].touched || submitted) &&
                inscripcion.controls['nacimiento'].hasError('required')) {
                <p class="error">Selecciona una fecha de nacimiento</p>
                }
            </div>
            <div class="contenedor_datos">
                <label for="dni">DNI / NIE:</label>
                <input type="text" name="dni" id="dni" formControlName="dni" maxlength="9">
                @if((inscripcion.controls['dni'].touched || submitted) &&
                inscripcion.controls['dni'].hasError('required')) {
                <p class="error">El DNI/NIE es obligatorio para mayores de 14 años</p>
                }
                @if((inscripcion.controls['dni'].touched || submitted) &&
                inscripcion.controls['dni'].hasError('invalidDni')) {
                <p class="error">El DNI/NIE introducido no es válido</p>
                }
            </div>
        </div>


        <div class="row">
        </div>

        <div class="row">
            <div class="contenedor_datos">
                <label for="alergias">Alergias:</label>
                <input type="text" name="alergias" id="alergias" formControlName="alergias">
            </div>

            <div class="contenedor_datos">
                <label for="radioPadron">Estoy empadronado en Las Rozas:</label>
                <div class="contenedor-radioPadron">
                    <input class="inputPadron" formControlName="padron" type="radio" name="padron" id="si" value="true">
                    Si
                    <input class="inputPadron" formControlName="padron" type="radio" name="padron" id="no"
                        value="false">No
                </div>
                @if((inscripcion.controls['padron'].touched || submitted) &&
                inscripcion.controls['padron'].hasError('required')) {
                <p class="error">Debe seleccionar una opción</p>
                }
            </div>
        </div>


        <h3>Datos de persona de contacto</h3>
        <p>Todo jugador debe tener al menos una persona de contacto.</p>
        <p>En el caso de los menores de edad dicha persona de contacto ha de ser padre, madre o tutor legal.</p>


        <div formArrayName="contactos" class="contenedor-contactos">
            @for (contacto of contactos.controls; track contacto) {
            <div class="row fila-contacto" id="contacto{{$index}}" [formGroupName]="$index">
                <div class="contenedor_datos">
                    <label for="nombreContacto{{$index}}">Nombre y apellidos:</label>
                    <input type="text" name="nombreContacto{{$index}}" id="nombreContacto{{$index}}"
                        formControlName="nombreContacto">
                    @if((contacto.get('nombreContacto')?.touched || submitted) &&
                    contacto.get('nombreContacto')?.hasError('required')) {
                    <p class="error">El nombre es obligatorio</p>
                    }
                </div>
                <div class="contenedor_datos">
                    <label for="emailContacto{{$index}}">Email:</label>
                    <input type="text" name="emailContacto{{$index}}" id="emailContacto{{$index}}"
                        formControlName="emailContacto">
                    @if((contacto.get('emailContacto')?.touched || submitted) &&
                    contacto.get('emailContacto')?.hasError('required')) {
                    <p class="error">El email es obligatorio</p>
                    }
                    @if((contacto.get('emailContacto')?.touched || submitted) &&
                    contacto.get('emailContacto')?.hasError('email')) {
                    <p class="error">El formato del email no es válido</p>
                    }
                </div>
                <div class="contenedor_datos">
                    <label for="telefonoContacto{{$index}}">Telefono:</label>
                    <input type="text" name="telefonoContacto{{$index}}" id="telefonoContacto{{$index}}"
                        formControlName="telefonoContacto" maxlength="9">
                    @if((contacto.get('telefonoContacto')?.touched || submitted) &&
                    contacto.get('telefonoContacto')?.hasError('required')) {
                    <p class="error">El teléfono es obligatorio</p>
                    }
                    @if((contacto.get('telefonoContacto')?.touched || submitted) &&
                    contacto.get('telefonoContacto')?.hasError('pattern')) {
                    <p class="error">Introduce un teléfono válido (9 dígitos, empezando por 6, 7, 8 o 9)</p>
                    }
                </div>
                @if (!$first) {
                <div class="contenedor_borrar">
                    <label style="visibility: hidden;">Borrar</label>
                    <button type="button" class="boton-borrarContacto" (click)="borrarContacto($index)">Borrar</button>
                </div>
                }
            </div>
            }
        </div>

        @if (contactos.length < 3) { <button type="button" class="boton-otroContacto" (click)="anadirContacto()"
            [disabled]="contactos.at(contactos.length - 1).invalid">Añadir otro contacto</button>
            }

            <h3>Datos del equipo</h3>
            <div class="row" id="datosEquipo">
                <div class="contenedor_datos">
                    <label for="categoria">Categoría:</label>
                    <select class="selectorEquipo" name="categoria" id="categoria" formControlName="categoria">
                        <option value="">Seleccione una categoría</option>
                        @if (precios_temporada) {
                        @for (tarifa of precios_temporada.tarifas; track tarifa.id) {
                        <option [value]="tarifa.id">{{tarifa.categoria}}</option>
                        }
                        }
                    </select>
                    @if((inscripcion.controls['categoria'].touched || submitted) &&
                    inscripcion.controls['categoria'].hasError('required')) {
                    <p class="error">Debe seleccionar una categoría</p>
                    }
                </div>

                @if (inscripcion.get('categoria')?.value) {
                <div class="contenedor_datos">
                    <label for="pago">Tipo de pago:</label>
                    <select class="selectorEquipo" name="pago" id="pago" formControlName="pago">
                        <option value="">Seleccione tipo de pago</option>
                        @for (opcion of opcionesPagoLista; track opcion.value) {
                        <option [value]="opcion.value">{{opcion.label}}</option>
                        }
                    </select>
                    @if((inscripcion.controls['pago'].touched || submitted) &&
                    inscripcion.controls['pago'].hasError('required')) {
                    <p class="error">Debe seleccionar el tipo de pago</p>
                    }
                </div>
                }

                @if (detallePago !== null) {
                <div class="contenedor_datos">
                    <label for="precio">Precio:</label>
                    <p>{{detallePago.precio}}€
                        @if (inscripcion.get('pago')?.value === 'mensual') {
                        <span class="mensualidad"> x 9 meses = {{ detallePago.precio * 9 }}€</span>
                        }
                        @if (detallePago.ahorro > 0) {
                        <span class="ahorro"> (te ahorras {{detallePago.ahorro}}€)</span>
                        }
                    </p>
                </div>
                }
            </div>

            @if (inscripcion.get('categoria')?.value && inscripcion.get('pago')?.value) {
            <div class="contenedor_preciosExtra">
                <p>
                    Seguro + Tasas de competición (Pago único realizado en el mes de Septiembre):
                    {{seguroYtasasCategoria}}€
                </p>

                @if (precios_temporada) {
                <p>Por orden del Ayto de Las Rozas, se tendrá que efectuar un único pago anual extra de
                    {{precios_temporada.instalaciones}}€ en abril por el uso de instalaciones.
                </p>
                }
            </div>
            }

            <div class="contenedor_autorizacion">
                <label for="radioFotos">Autorizo a la publicación de imágenes:</label>
                <div class="contenedor-radioautFotos">
                    <input class="inputFotos" formControlName="autFotos" type="radio" name="autFotos" id="si"
                        value="true"> Si
                    <input class="inputFotos" formControlName="autFotos" type="radio" name="autFotos" id="no"
                        value="false">No
                </div>
                @if((inscripcion.controls['autFotos'].touched || submitted) &&
                inscripcion.controls['autFotos'].hasError('required')) {
                <p class="error">Debe seleccionar una opción</p>
                }
            </div>


            <div class="contenedor-regimenInterno">
                <input type="checkbox" class="regimenInterno" name="regimenInterno" id="regimenInterno"
                    (change)="changeRegimenInterno()">
                <label for="regimenInterno">He leido y acepto estar conforme con el
                    <a href="/assets/documentos/Reglamento_regimen_interno_CUF_LAS_ROZAS.pdf" class="link-regimen"
                        target="_blank">reglamento de régimen interno</a></label>
            </div>
            @if(submitted && !regimenInternoChecked) {
            <p class="error-regimen">Debe aceptar el reglamento de régimen interno para poder formar parte del Club</p>
            }

            <div class="contenedor-boton">
                <button class="boton-enviar" type="submit"
                    [disabled]="inscripcion.invalid || !regimenInternoChecked">Enviar solicitud</button>

            </div>
    </form>

</div>